*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

.container{
    text-align: center;
    padding-top: 100px;
}

.header h1{
    color: blueviolet;
   margin-bottom: 10px;
}

.header input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid blueviolet;
    padding-inline: 10px;
    font-size: 18px;
    outline: 0;
    margin-bottom: 20px;
}

.header button{
    width: 60px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
    transition: 0.5s all;
}

.header button:hover{
    transform: scale(0.9);
}

.content #city,
.content #temp{
    font-size: 28px;
    margin-bottom:  10px;
}

.content #desc{
    margin-bottom: 10px;
}

.content{
    padding-top: 5%;
    width: 300px;
    height: 300px;
    border: 1px solid blueviolet;
    border-radius: 10px;
    margin:auto;
    background-color: rgba(128, 128, 128, 0.572);
    box-shadow: 2px 2px 2px blueviolet;
}